:root {
 --cor-primaria: #00a8ff;
    --cor-fundo: #121212;
    --cor-fundo-secundaria: #1e1e1e;
    --cor-texto: #e0e0e0;
    --cor-texto-secundaria: #a0a0a0;
    --sombra-padrao: 0 20px 100px 20px rgba(0, 168, 255, 0.1);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--cor-primaria);
    font-family: 'Poppins', sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: var(--cor-fundo-secundaria);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--sombra-padrao);
    align-items: center;
    justify-content: center;
    border: 2px solid var(--cor-primaria);
    box-sizing: border-box;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    color: var(--cor-primaria);
    font-family: 'Poppins', sans-serif;
}

.caixa{
    padding: 10px;
    margin-bottom: 5px;
    border: 2px solid var(--cor-primaria);
    border-radius: 5px;
    background-color: #fff;
    font-size: 1.2rem;
    transition: 0.3s;
    width: 100%;
    box-shadow: var(--sombra-padrao);
    font-family: 'Poppins', sans-serif;
}   

#nome{
    margin-bottom: 15px;
    height: 40px;
    font-size: 20px;
    width: 50%;
    top: 15px;
}

#email{
    margin-bottom: 15px;
    height: 40px;
    font-size: 20px;
    width: 50%;
    top: 15px;
}

#telefone{
    margin-bottom: 15px;
    height: 40px;
    font-size: 20px;
    width: 50%;
    top: 15px;
}

#mensagem{
    margin-bottom: 15px;
    height: 100px;
    font-size: 20px;
    width: 70%;
    top: 15px;
}

.botao{
    padding: 10px 20px;
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
    width: 30%;
    height: 40px;
    font-family: 'Poppins', sans-serif;
}

.botao:hover{
    background-color: var(--cor-primaria);
}

@media (max-width: 600px){
    form{
        width: 90%;
    }

    .caixa{
        font-size: 1rem;
    }

    .botao{
        width: 100%;
        font-size: 1rem;
    }
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}